{% extends "layout.html" %} 

{% block title %} Home {% endblock %}


{% block main %} 
<img src="/static/images/heads.png" style="display: none;" id="heads">
<img src="/static/images/tails.png" style="display: none;" id="tails">

<button id="flipbtn">Flip a coin</button>


{% endblock %}

{% block script %}

<script>
    $("#flipbtn").click(flip)


    function flip()
    {
        number = getRandom()
        console.log(number)

        if( number >= .5)
        {
            $("#heads").show()
            $("#tails").hide()
        }
        else
        {
            $("#tails").show()
            $("#heads").hide()

        }
    }

    function getRandom() {
        return Math.random();
      }


</script>

{% endblock %}